<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>PixelArchives - Accueil</title>
</head>
    <body>
        <header>
            <div class="HeadTitle">
                <h1><a href="{{ url_for('home_page') }}">PixelArchives</a></h1>
            </div>
            <nav>
                <ul class="HeaderLinks">
                    <li><a href="{{ url_for('home_page') }}">Accueil</a></li>
                    <li><a href="{{ url_for('login_page') }}">Connexion</a></li>
                    <li><a href="{{ url_for('register_page') }}">Créer un compte</a></li>
                    <li><a href="{{ url_for('minidex')}}">Minidex</a></li>
                    <li><a href="https://www.youtube.com/watch?v=SbYXkOAoZpI">TEST</a></li>
                </ul>
            </nav>
        </header>
        <div class="HomePageImg">
            <p>Site en cours de maintenance, veuillez être patient.</p>
        </div>
            <footer>
                <div class="Copyright">
                    <h3>2025, All rights reserved.</h3>
                </div>
            </footer>
    </body>
</html>
