<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>PixelArchives - Accueil</title>
</head>
    <body>
        <header>
            <div class="HeadTitle">
                <h1><a href="{{ url_for('home_page') }}">PixelArchives</a></h1>
            </div>
            <nav>
                <ul class="HeaderLinks">
                    <li><a href="{{ url_for('home_page') }}">Accueil</a></li>
                    <li id="btn-login"><a href="{{ url_for('login_page') }}">Connexion</a></li>
                    <li id="btn-forum" style="display:none;"><a href="{{ url_for('hub_page') }}">Forum</a></li>
                    <li id="btn-register"><a href="{{ url_for('register_page') }}">Créer un compte</a></li>
                    <li><a href="{{ url_for('minidex') }}">Minidex</a></li>
                    <li id="btn-profil"><a href="{{ url_for('profil') }}">Profil</a></li>
                    <li id="btn-logout" style="display:none;"><a href="#" onclick="logout()">Déconnexion</a></li>
                </ul>
            </nav>
        </header>
        <div class="HomePageImg">
            <p>Bienvenue sur le site de PixelArchives,</br>
            Ce site vous permettra de partager avec d'autres utilisateurs votre passion du jeu rétro!</p>
        </div>
            <footer>
                <div class="Copyright">
                    <h3>2025, All rights reserved.</h3>
                </div>
            </footer>
            <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    </body>
</html>
